@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
	cursor: pointer;
}

section {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
}

 /* top section styles */

.top-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	border-radius: 30px;
}

.banner-text,.banner-image {
	width: 45%;
}

.banner-heading {
	font-size: 3em;
	margin: 20px 0;
}

.button {
	background-color: rgb(255, 64, 47);
	width: fit-content;
	padding: 10px 20px;
	margin: 20px 0;
	border-radius: 7px;
}

.button>a {
	transition: 0.3s;
}

.button>a {
	display: flex;
	text-decoration: none;
	color: white;
	font-weight: 700;
}

.button>a>p {
	margin-left: 5px;
}
 
 /* button animation  */

@keyframes sliding {
	0% {
		background-image: linear-gradient(90deg,red,tomato);
		padding-right: 15px;
		transform: scale(0.97);
	}

	50% {
		background-image: linear-gradient(90deg,tomato,red);
		padding-right: 25px;
		transform: scale(1);
	}

	100% {
		background-image: linear-gradient(90deg,red,tomato);
		padding-right: 15px;
		transform: scale(0.97);
	}
}

.top-banner .button {
	animation: sliding 0.8s ease 0s infinite alternate;
}

.top-banner .button:hover {
	animation: sliding 0.8s ease 0s infinite alternate;
	background-color: #3e8e41;
}

.banner-image>img {
	width: 100%;
}



/************************ transfer-list-conatiner section style ************************/
.transfer {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 200px 800px;
	column-gap: 5px;
}
/* .transfer {
    display: flex;
    justify-content: space-evenly;
    background-color: #DD0000;
}
*/
.button2 {
	background-color: #161616;
	color: white;
	border-radius: 10px;
}

.btn-group {
	height: 100%;
	display: grid;
	padding: 20px 40px;
	row-gap: 10px;
}

.btn-common {
	border: none;
	border-radius: 10px;
}

.active {
	background-color: #DD0000;
}

.transfer-blogs {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	row-gap: 30px;
	column-gap: 20px;
	place-items: center;
}

.blog {
	width: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
}

.blog-img img {
	width: 100%;
   /* or any custom size */
	height: 100%;
	object-fit: contain;
}

.transfer-desc {
	margin: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.transfer-details h3 {
	font-size: 18px;
}

.btn-div {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#visible {
	text-align: center;
	visibility: hidden;
	background-color: #DD0000;
	width: 50%;
	padding: 10px 20px;
	margin-left: 50%;
	color: white;
}
/************************ Footer section style ************************/
footer {
	background-color: black;
	text-align: center;
	margin-top: 50px;
	color: white;
}

footer>h2 {
	font-size: 35px;
	padding: 30px;
}

hr {
	border: 1px solid rgb(78, 78, 78);
	width: 80%;
	margin: 0 auto;
}

.footer-items,.footer-icons {
	display: flex;
	justify-content: center;
}

.footer-items>p {
	margin: 20px;
}

.footer-icons>p {
	font-size: 30px;
	padding: 20px 30px;
}

.footer-icons>p>a {
	text-decoration: none;
	color: white;
}



/************************ fixt section style ************************/
aside {
	width: 100%;
}

.top-links {
	width: 60%;
	margin: 10px 15px;
}

.links {
	padding: 10px;
}

.links>a {
	font-size: 1em;
}

.grid-blogs {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	margin: 0 auto;
	margin-top: 40px;
	row-gap: 1rem;
	column-gap: 1rem;
}

.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blog-thumbnail {
	display: flex;
	align-items: center;
	padding: 30px 20px;
}

.blog-thumbnail>p {
	margin: 0 15px;
}

.blog-icons>p {
	margin: 20px 0;
}
/************************ fixture section style ************************/
.top-links {
	display: flex;
	flex-direction: column;
	width: fit-content;
	background-color: black;
	margin-top: 40px;
}

.links {
	margin: 20px;
	padding: 20px 30px;
	background-color: white;
	text-align: center;
	border-radius: 5px;
}

.links>a {
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
	color: black;
}

.middle-section {
	display: flex;
  /*   grid-template-columns: 200px auto;
    
    column-gap: 5px;
    grid-row-gap: 0;
    background-color: red; */;
}

.fixtures {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 4rem;
	row-gap: 4rem;
	justify-content: center;
	align-items: center;
}

.fix {
	height: 10rem;
	width: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	align-items: center;
}

.fix-desc {
	padding: 10px;
}

/* ****************** Media query ************************** */
@media only screen and (max-width: 688px) {
  
	section {
		width: 100%;
	}
     /* top section  */
	.top-banner {
		flex-direction: column;
	}

	.banner-text,.banner-image {
		width: 90%;
	}

	.banner-heading {
		font-size: 2em;
		margin: 20px 0;
	}

	.banner-details {
		width: 80%;
		height: 57px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
       
   /* second section */
	.transfer {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.transfer-blogs {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		row-gap: 30px;
	}

	.button {
		background-color: #ffffff;
	}

	.btn-group {
		display: grid;
		width: 100%;
		justify-content: center;
	}

	.btn-common {
		border: none;
		border-radius: 10px;
		padding: 20px;
	}
   /* Foter */
	footer {
		width: 100%;
	}

	.footer-items {
		flex-direction: column;
	}
}
/* Tab view media query */
@media only screen and (min-width:689px) and (max-width:992px) {
   /* common */
   /* head section */
	.container {
		width: 100%;
	}

	.landing-description {
		width: 100%;
		padding: 30px;
	}

	.title {
		font-size: 3rem;
		line-height: 50px;
	}
   /* second section */
	.transfer {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.transfer-blogs {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		place-items: center;
		row-gap: 20px;
	}

	.button {
		background-color: #ffffff;
	}

	.btn-group {
		display: flex;
		justify-content: space-evenly;
		background-color: #ffffff;
	}

	.btn-common {
		width: 100%;
		border: none;
		border-radius: 10px;
		padding: 20px;
		margin-left: 10px;
	}

	#last-blog {
		display: none;
	}

	#visible {
		visibility: visible;
		background-color: #DD0000;
		width: 50%;
		padding: 10px 10px;
		margin-left: 20%;
		border-radius: 10px;
		color: white;
	}

	.btn-div {
		color: white;
		font-size: 1.5rem;
	}

  /* ***** ffixture */
	.grid-blogs {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		margin: 0 auto;
		margin-top: 40px;
		row-gap: 1rem;
		column-gap: 1rem;
	}

	.grid-blogs>.blog:last-child {
		display: none;
	}
   /* Foter */
	.footer {
		width: 100%;
	}

	.footer-items {
		width: 70%;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;
	}
}