*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
section{
    margin: 30px 100px;
    margin-bottom: 100px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
}
.container>div{
    width: 50%;
}
.landing-description{
    width: 80%;
    padding: 30px;
}
.title{
    font-size: 3.25vw;
    line-height: 70px;
}
.btn-div{
    margin-top: 35px;
}
.btn{
    background: #DD0000;
    border-radius: 5px;
    padding: 15px 25px;
    color: white;
}
span{
    margin-left: 10px;
}
/************************ transfer-list-conatiner section style ************************/
.transfer{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px 800px;
    column-gap: 5px;
}
/* .transfer {
    display: flex;
    justify-content: space-evenly;
    background-color: #DD0000;
}
*/
.button{
    background-color: #161616;
    color: white;
    border-radius: 10px;
}
.btn-group{
    height: 100%;
    display: grid;
    padding: 20px 40px;
    row-gap: 10px;
}
.btn-common{
    border: none;
    border-radius: 10px;
}
.active{
    background-color: #DD0000;
}
.transfer-blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 20px;
    place-items: center;
}
.blog{
    width:auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.blog-img img{
    width: 100%;
   /* or any custom size */
    height: 100%;
    object-fit: contain;
}
.transfer-desc{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.transfer-details h3{
    font-size: 18px;
}
#visible{
    text-align: center;
    visibility:hidden;
}
/************************ Footer section style ************************/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.footer-content hr{
    width: 70%;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 1vh;
}

.socials a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.socials a {
    font-size: 1.1rem;
    width: 20px;
}

.socials a:hover {
    color: rgb(237, 71, 10);
}
#visible{
visibility: hidden;  
  justify-content: center;
    margin-left: 15%;
    margin-bottom: 30px;
}
/* Media query */
@media only screen and (max-width: 600px) {
    section{
        margin: 20px 10px;
   }
    .container{
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
        border-radius: 5px;
   }
    .container>div{
        width: 80%;
   }
    .landing-container{
        padding: 10px;
   }
    div.landing-description{
        word-wrap: break-word;
        color: #ffffff;
        text-align: center;
   }
    div.desc{
        font-size: 1.4em;
   }
    .title{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
   }
    .landing-container img {
        width: 100%;
   }
   /* second section */
    .transfer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }
    .transfer-blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
   }
    .button{
        background-color: #ffffff;
   }
    .btn-group{
        display: grid;
        width: 100%;
        justify-content: center;
   }
    .btn-common{
        border: none;
        border-radius: 10px;
        padding: 20px ;
   }
   /* Foter */
    footer{
        width: 100%;
   }

   .socials{
    display: flex;
    flex-direction: column;
   }

  .socials li{
    margin: 10px 0;
}

   
}
/* Tab view media query */
@media only screen and (min-width: 601px) and (max-width:820px) {
   /* common */
   /* head section */
    .container{
        width: 100%;
   }
    .landing-description{
        width: 100%;
        padding: 30px;
   }
    .title{
        font-size: 3rem;
        line-height:50px;
   }
   /* second section */
    .transfer{
        width: 100%;
        display: flex;
        flex-direction: column;
   }
    .transfer-blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: center;
        row-gap: 20px;
   }
    .button{
        background-color: #ffffff;
   }
    .btn-group{
        display: flex;
        justify-content: space-evenly;
   }
    .btn-common{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 20px ;
        margin-left: 10px;
   }
    #last-blog{
        display: none;
   }
       #visible{
   visibility: visible;
       margin-left: 10px;

}
   /* Foter */
    .footer{
        width: 100%;
   }



   
}
@media only screen and (min-width:821px) and (max-width:1200px) {
    section{
        margin: 20px 10px;
   }
    .container{
        width: 100%;
   }
    .transfer{
        width: 100%;
   }
    .footer{
        width: 100%;
   }
}
