@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&family=Roboto&display=swap');

body{
      font-family: 'Poppins', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Roboto', sans-serif;
      background-color:#f3f1ff;
      margin: 0;
      padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

/* landing section style */

main{
    display: flex;
    flex-direction: column;    
    align-items: center;

}
.container{
    background-color: #1f1f1f;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-container {
    width: 50%;
}
div.landing-description{
    width: 80%;
    word-wrap: break-word;
    color: #ffffff;
    margin-top: 111px;
    margin-left: 111px;
    display: flex;
    flex-direction: column;
}

div.desc{
    font-size: 1.4em;
  
}


.title{

    font-size: 3.75vw;
    line-height: 80px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;

}
.landing-container img {
 width: 581px;
    height: 613px;
}
.btn-div{
    margin-top: 15px;
}

.btn{
    background: #DD0000;
    border-radius: 5px;
    padding: 15px 25px;
    color: white;

}

span{
    margin-left: 10px;
}

   /************************
    transfer-list-conatiner section style
    ************************/

.transfer{
    width: 1321px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    display: grid;
    grid-template-columns: 300px 1021px;
    column-gap: 20px;
    margin-bottom: 60px;

 

}

.button{
    background-color: #161616;
    height: 320px;
    width:300px;
    border-radius: 10px;
}
.btn-group{ 
    margin: 60px 30px;
    height: 300px;
    display: block;
    height: auto;
}

.btn-common{
    background-color: white;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
}
.active{
    background-color: #DD0000;
}

.transfer-blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 30px;
}
.blog{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      border-radius: 5px;

}

.transfer-desc{
    margin: 5px;
    
}

.transfer-details h3{
    font-size: 18px;
}

.fa-comments{
    color: black;
}

    /************************
        Footer   section style
    ************************/
 footer{
    background-color: #161616;
    display: flex;
    flex-direction: column;
    color: white;
 }

.footer-title{
    text-align: center; 
    }

.footer-title>h2{
    font-size: 30px;
    margin-top: 130px;
    }
hr{
    width: 1320px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    }


.footer-list ul>li{
    list-style: none;
    margin-right: 20px;  
    }
   
    .footer-list{
        display: flex;
        justify-content: center;
    }
 .list{
  
   text-align: center;
    width: 45%;
    }

    .list>a{
        margin: 20px;
        align-items: center;
    }

    #visible{
        display: none;
        justify-content: center;
        margin-left: 15%;
        margin-bottom: 30px;
    }


    /* ##############
        media query
    ################# */

/* Media query */


@media only screen and (max-width: 600px) {
    section{
          margin: 20px 10px;
    }
.container{
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    border-radius: 5px;
}     
.container>div{
width: 80%;
}

.landing-container{
padding: 10px;
}
div.landing-description{
word-wrap: break-word;
color: #ffffff; 
text-align: center;
}
div.desc{
font-size: 1.4em;

}


.title{

font-size: 40px;
line-height: 60px;
text-align: center;



}
.landing-container img {
width: 100%;
}

/* second section */

.transfer{
width: 100%;
display: flex;
flex-direction: column;
}

.transfer-blogs{
display: grid;
grid-template-columns: repeat(1,1fr);
row-gap: 30px;
}

.button{
    background-color: #ffffff;

}

.btn-group{
display: grid;
width: 50%;
justify-content: center;
margin-left: 120px;

}

.btn-common{
border: none;
border-radius: 10px;
padding: 20px ; 
}

}

/* Tab view media query */

@media only screen and (min-width: 601px) and (max-width: 820px) {

/* common */
section{
margin: 20px 10px;
}

/* head section */
.container{
width: 100%;
}  

.landing-description{
width: 100%;
padding: 30px;
}

.title{
font-size: 3rem;
line-height:50px;
}


/* second section */

.transfer{
width: 100%;
display: flex;
flex-direction: column;
}

.transfer-blogs{
display: grid;
grid-template-columns: repeat(2,1fr);
row-gap: 20px;
}

.button{
  background-color: #ffffff;

}

.btn-group{
display: flex;


justify-content: space-evenly;


}

.btn-common{
width: 100%;
border: none;
border-radius: 10px;
padding: 20px ; 
margin-left: 10px;
}

#last-blog{
display: none;
}


#visible{

visibility:visible;
}


}
