*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

body{
            background-color: #ffffff;

}

section{
         margin: 30px 100px;
}

.container{
      display: flex;
      justify-content: center;
      align-items: center;

   
      background-color: black;
      color: aliceblue;
      border-radius: 30px;

}

.container>div{
      width: 50%;
    
}
.landing-description{
      width: 80%;
      padding: 30px;
}

.title{
    font-size: 3.25vw;
        line-height: 70px;

}

.btn-div{
    margin-top: 35px;
}

.btn{
    background: #DD0000;
    border-radius: 5px;
    padding: 15px 25px;
    color: white;

}

span{
    margin-left: 10px;
}

  /************************
    transfer-list-conatiner section style
    ************************/

.transfer{
     display: grid;
     grid-template-columns: 300px 1021px;
     grid-template-rows: 200px 800px;
     column-gap: 2rem;
  

}

.button{
    background-color: #161616;
    color: white;
    border-radius: 10px;
}

.btn-group{
      height: 100%;
      display: grid;
      padding: 20px 40px;
      row-gap: 10px;
     
}

.btn-common{
border: none;
    border-radius: 10px;
  
}
.active{
    background-color: #DD0000;
}

.transfer-blogs{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      row-gap: 30px;
}

.blog{
   
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      border-radius: 5px;  
}
.blog-img{
      text-align: center;
}

.transfer-desc{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.transfer-details h3{
    font-size: 18px;
}


#visible{
      text-align: center;
      visibility:hidden;
}

/* -------------- */



/* Media query */


      @media only screen and (max-width: 600px) {
            section{
                  margin: 20px 10px;
            }
       .container{
            width: 100%;
            padding: 0;
            margin: 0;
            flex-direction: column;
            border-radius: 5px;
       }     
       .container>div{
      width: 80%;
}

.landing-container{
      padding: 10px;
}
div.landing-description{
    word-wrap: break-word;
    color: #ffffff; 
    text-align: center;
}
div.desc{
    font-size: 1.4em;
  
}


.title{

    font-size: 40px;
    line-height: 60px;
    text-align: center;
 
   

}
.landing-container img {
 width: 100%;
}

/* second section */

  .transfer{
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .transfer-blogs{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      row-gap: 30px;
}

.button{
            background-color: #ffffff;

}

.btn-group{
     display: grid;
     width: 50%;
     justify-content: center;
     margin-left: 120px;
     
}

.btn-common{
border: none;
    border-radius: 10px;
          padding: 20px ;

  
}

}
